:root {
  --blue: #2cf8ff;
  --green: #18ffb0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #07141b;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px; /* Gap between grid items */
  grid-auto-rows: auto; /*Adjust the height (rows) based on content*/
  margin: 40px;
}

.item {
  color: rgb(196, 196, 196);
  box-shadow: 0 0 10px rgba(24, 255, 176, 0.4), 0 0 30px rgb(44, 248, 255);
  border-radius: 10px;
  padding-bottom: 15px;
}

h2 {
  background: linear-gradient(to right, #2cf8ff, #18ffb0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: nowrap;
    padding: 5px;
    text-align: center;
}

.badge {
  height: 100px;
  width: 100px;
}

ul {
  margin: 0 1.5rem;
  font-size: 18px;
}

li {
  line-height: 1.7rem;

}

span {
  color: rgb(109, 109, 109);
}

.nav-ul {
  display: flex;
  color:#2cf8ff;
  justify-content: space-around;
  list-style-type: none;
  gap: 5rem;
  height: 60px;
  border-radius: 22px;
  align-items: center;
  padding: 10px;

}

.nav-ul a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  margin-top: 5vw;
}

.social-container {
  width: 55%;
  margin: 100px auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-btn:hover {
  box-shadow: 0 0 20px rgba(24, 255, 176, 0.4), 0 0 40px rgb(44, 248, 255);
    
}

.footer-btn:hover .social {
    background: var(--blue);
}

.footer-btn {
  border-right: 1px solid rgba(255,255,255,.2);
  border-left: 1px solid rgba(255,255,255,.2);
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 1rem;
  transition: all .2s;
  transition: box-shadow .5s;
  display: flex;
  position: relative;
  border-radius: 50px;
}



.social {
  width: 45px;
  height: 45px;
  background: var(--green);
  border-radius: 50%;
  transition: all 0.5s;
}

main {
  flex-grow: 1;
}

@media (max-width: 855px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}



.item {
  opacity: 0; 
  font-size: 20px;
  animation: fadeIn 1s forwards; 
}

.item:nth-child(1) {
  animation-delay: 0.2s; 
}

.item:nth-child(2) {
  animation-delay: 0.4s; 
}

.item:nth-child(3) {
  animation-delay: 0.6s; 
}

.item:nth-child(4) {
  animation-delay: 0.8s; 
}

.item:nth-child(5) {
  animation-delay: 1s; 
}

.item:nth-child(6) {
  animation-delay: 1.2s; 
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 855px){
.navbar {
    background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .grid-container {
    margin-top: 24vw;
  }

  .hidden {
    display: flex !important; 
    margin: auto 0;
    width: 60px;
  }
  .show {
    display: none !important;
  }
}

.img-container {
  width: 100%;
}

.img-container img {
  max-width: 100%;
  min-width: 200px;
  max-height: 100%;
  width: auto;
  height: auto;
}

.hidden {
  display: none;
}


.show {
  font-size: 28px;
  text-wrap: nowrap;
  background: linear-gradient(to right, #2cf8ff, #18ffb0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s;
}

.show:hover {
  opacity: 0.8;
}

.show:active {
  opacity: .6;
}

.item:hover {
  box-shadow: 0 0 40px var(--green);
  border-radius: 40px;
}

.item {
  transition: all .4s;
}

/* @media (max-width: 400px) {
    .item {
      width: 70vw;
    }

   } */  
   @media (max-width: 400px) {
    .grid-container {
      margin: 85px 10px 0 10px;
    }
   }

