$primary: #fff;
$black: black;
$blue: #2cf8ff;
$white: #fff;
$green: #18ffb0;
$off-white: #f1f3f4;
$light: #96a7a1;
$almost-black: #051819;
$font1: "Roboto";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.container-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $primary;
    font-family: $font1;
    font-weight: 400;
    background-color: rgb(7, 20, 27);
    cursor: default;
}

.row {
    --bs-gutter-x: 0 !important; /* Set horizontal gutter to 0 */
  }

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
    
}



.container-f {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alessio {
    max-width: 250px;
    max-height: 60px;
}

.haeder-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 3vw;

}


@media (max-width: 600px){
    .container-f {
        justify-content: space-between;
        margin: 0 auto;
        background-color: transparent; /* Semi-transparent background */
        backdrop-filter: blur(5px); /* Apply a 5px blur effect to the backdrop */  
     }
     .text-container {
        display: none;
     }
}


.cv-btn {
    border-radius: 50px;
    height: 60px;
    min-width: 220px;
    background-image: linear-gradient(100deg,rgba(2,176,155,.4),rgba(90,137,253,.18));
    background-color: transparent;
    border: 1px solid rgba(255,255,255,.12);
    transition: all .3s;
    color: white;
}

.cv-container {
    width: 220px;
    display: block;
    margin: 0 auto;
}

.cv-btn:hover {
    box-shadow: 0 0px 40px rgba(45,181,134,.4);
    background-image: linear-gradient(100deg,rgba(2,176,155,.38),rgba(2,176,155,.2));
    background-color: rgba(5, 176, 155, .6);
}

.cv-btn:active {
    height: 55px;
    min-width: 210px;
}

    .smaller {
        font-size: 21px;
    }

  
  

  .text-container {
    position: relative;
    display: inline-block;
    font-size: 30px;
    background: linear-gradient(to right,$blue , $green); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
.default-text {
    text-decoration: underline;
    margin-right: 5vw;
}

  .default-text {
    white-space: nowrap;
  }
  
  .language-selection {
    display: inline-block;
    margin-left: 2rem;
  }
  

.mission {
    color: #bdbdbd;
    margin-top: 20px;
}

.row {
    justify-content: center;
    align-items: center;
}


.bio-gradient {
    width: 20rem;
    height: 20rem;
    background-color: $green;
    filter: blur(200px);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -10%;
}

.navbar {
    min-width: 400px;
}

.dropdown-item {
    background-color: transparent !important;
    color: white;
    max-width: 40px !important;
}

.dropdown-menu {
    max-width: 40px   !important;
    --bs-dropdown-min-width: 1rem !important;
    --bs-dropdown-bg: transparent;
    
  }



.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.language-dropdown-button {
    background-color: transparent;
    color: white;
    border: none;
}

.nav-component {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, .1);
    border-radius: 5rem;
    align-items: center;
    padding: 0.625rem;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    z-index: 10000;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-weight: 400;
}

a:hover {
    color: #18ffb0 !important;
    font-weight: 300;
}

.home {
    color: #18ffb0;
}



.nav-divider {
    width: 1px;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, .1);
}

.background {
    background-image: radial-gradient(circle farthest-corner at 50% 50%, var($green), transparent);
}

.home-gradient {
    width: 20rem;
    height: 20rem;
    background-color: $blue;
    filter: blur(200px);
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: auto;
    left: -13%;
    right: auto;
    top: 0%;
}

.home-gradient.right {
    opacity: .5;
    filter: blur(150px);
    margin-top: 10rem;
    top: 10%;
    bottom: auto;
    left: auto;
    right: 0%;
}

.contact-gradient {
    width: 20rem;
    height: 20rem;
    background-color: $blue;
    filter: blur(200px);
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: auto;
    left: -13%;
    right: auto;
    z-index: -1;
}

.contact-gradient-right {
    width: 20rem; /* Set the width of the div */
    height: 20rem; /* Set the height of the div to cover the entire viewport */
    background-color: $blue;
    filter: blur(200px);
    border-radius: 30%;
    position: absolute;
    right: 0;
    z-index: -1;
}

.bio-title {
   background: linear-gradient(to right, $green , $blue); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
    font-size: 2rem;
    font-weight: 500;
}

@media (min-width: 1000px) {
    .bio-container {
    width: 500px;
    padding: 0 1.25rem;
}
}

.bio-container {
    max-width: 500px;
}

.pic-container {
    display: flex;
    justify-content: center;
    max-width: 500px;

}

.margin-left {
    margin-left: 10px;
}
.home-picture {
    min-width: 200px;
    min-height: 200px;
    max-width: 300px;
    max-height: 500px;
    border-radius: 30%;
    box-shadow: 0 0 30px $green;
    /*height: ; da fixare per responsive*/
    margin-top: 20px;
    object-fit: cover;
    margin: 35px 35px;


}

.marginb {
    margin-bottom: 40px;
}


.green-filter {
    filter: grayscale(100%);    
}
  

.gradient-right {
    width: 20rem;
    height: 12rem;
    background-color: $green;
    filter: blur(200px);
    border-radius: 50%;
    position: absolute;
    right: 0;
    z-index: -1;
}

#portfolio {
    h2 {
        font-size: 4rem;
    }
}
.project {
    text-align: center;
    width: 50%;
    margin: 40px auto;
    font-size: 20px;
}

.contenitore {
    position: relative;
    display: block;
}

.code {
    overflow-y: auto;
    margin-top: 72px;
    margin-bottom: 500px;
    overflow-x: auto;
    height: 600px;
    box-shadow: 0 0 10px $blue;
    border-radius: 10px;
}


.code,
.carousel {
    flex: 1;
    background-color: transparent;
    width: 85%;
    margin: 40px auto;
}

.carousel-inner {
    box-shadow: 0 0 100px $green;
    border-radius: 100px !important;
}

.card-img-top {
    box-shadow: 0 0 5px $blue;
}

#row {
    max-width: auto !important;
    width: 100% !important;
}

.card {
    color: $blue !important;
    border: none;
    background-color: transparent;
    h5 {
        text-align: center;
    }
}

.chi-sono-container {
    margin-bottom: 20px;
}

.chi-sono-container,
.contact-signature,
.image-container{
    
        width: 100%; /* Set the width of the container */
        height: auto; /* Let the height adjust automatically based on the aspect ratio */
        overflow: hidden; /* Ensure the image doesn't overflow its container */
        display: flex;
        justify-content: center;
        img {
            width: 100%; /* Make the image fill the container horizontally */
            height: auto; /* Let the height adjust automatically based on the aspect ratio */
        /*     display: block; /* Ensure the image behaves as a block element */
            max-width: 300px;
        }
}




.language-solidity {
    background-color: transparent !important;
}

.language-solidity,
.token.selected {
    text-shadow: none !important;
}
/* Sovrascrivi il colore del testo delle variabili */
.language-solidity,
.token.variable {
    color: #8dc7ff !important; /* Cambia il colore delle variabili */
}

/* Sovrascrivi il colore dei segni di punteggiatura */
.language-solidity.token.punctuation,
.token.operator {
    color: #ccc !important; /* Cambia il colore dei segni di punteggiatura */
}

.token.operator {
    background: none !important;
}



.ethereum-container {
    max-width: 65%;
}

#chi-sono {
    margin: 0 auto;
    width: 70%;
}

.social-container {
    width: 65%;
    margin: 100px auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer {
}



.footer-btn {
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    color: #fff;
    border-right: 1px solid rgba(255,255,255,.2);
    border-left: 1px solid rgba(255,255,255,.2);
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
    transition: all .2s;
    display: flex;
    position: relative;
    transition: box-shadow .5s;
    border-radius: 50px;
}

.footer-btn:hover {
    box-shadow: 0 0 20px rgba($green, 0.4), 0 0 30px $blue ;
    .social {
        background: rgba($blue, 0.5)
    }
}



.social {
    width: 40px;
    height: 40px;
    background: $green;
    border-radius: 50%;
    transition: background 0.5s;
}

.contattami {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    min-width: 300px;
    margin: 300px auto;
    box-shadow: 0 0 .5rem $blue;
    padding: 15px;
    padding-bottom: 25px;
    border-radius: 10px;
}

.contact-signature {
   display: flex;
   justify-content: center;
   margin: 5px auto 20px auto;
}

.message {
    height: 100%;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.submit-btn {
    width: 40%;
    height: 45px;
    border-radius: 50px;
    transition: box-shadow .3s;
    transition: all .15s;
    background: linear-gradient(to right, $blue, $green);
    font-size: 22px;
    border: none;

    &:hover {
        box-shadow: 0 0 30px rgba(44, 248, 255, 0.5);
    }
    &:active {
        opacity: 0.7;
        width:38%;
        height: 42px;
    }
}

.form-control:focus {
    border-color: $green;
    box-shadow: 0 0 0.25rem $green;
}

form {
    input,
    textarea,
    ::placeholder
     {
        background-color: transparent !important;
        color: #bdbdbd !important;
    }
    label {
        color: $blue;
        margin: 10px 0 5px 5px;
    }
}





/*navbar solo con schermi >600px*/
@media (max-width: 600px) {
    .sticky-top-nav {
        display: none;
    }
}

/*navbar sticky solo con schermi >600px*/
@media (min-width: 600px) {
    .sticky-top-nav {
        position: sticky;
        top: 20;
    }
}


/*header sticky-top solo da 0-600*/
@media only screen and (max-width: 600px) {
    .sticky-top {
        position: sticky;
        top: 0;
    }
}

/*header disappeared sopra i 600px*/
@media only screen and (min-width: 600px) {
    .sticky-top {
        position: relative;
    }
}

/*Hamb. menu solo con schermi piccoli 0-600*/
@media (min-width: 600px) {
    .toggle{
        display: none;
    }
}

@media (max-width: 500px) {
    .home-gradient,
    .gradient-right,
    .bio-gradient,
    .contact-gradient,
    .contact-gradient-right,
    .gradient {
        display: none;
    }

    .contattami {
        max-width: 90%;
        min-width: 250px;
    }
}

@media (min-width: 1400px) {
    .page-wrapper {
        max-width: 1400px;
        margin: 0 auto;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.r-l {
    animation: slideLeft .8s ease-out forwards;
    animation-delay: 0.5s;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.l-r {
    animation: slideRight .8s ease-out forwards;
    animation-delay: 0.5s;
}