* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

.container-page {
  font-family: 'Roboto', sans-serif; }

body {
  color: #fff;
  background-color: #07141b;
  cursor: default;
  overflow-x: hidden;
  line-height: 1.7rem; }

.page-wrapper {
  margin: 0 auto; }

.container-f {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.alessio {
  max-width: 250px;
  max-height: 60px;
  min-width: 200px;
  width: 100%; }

.header-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 3vw; }

@media (max-width: 600px) {
  .container-f {
    justify-content: space-between;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    /*Safari blur*/ } }
.cv-btn {
  border-radius: 50px;
  height: 60px;
  min-width: 220px;
  background-image: linear-gradient(100deg, rgba(2, 176, 155, 0.4), rgba(90, 137, 253, 0.18));
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: all .3s;
  color: white; }

.cv-container {
  width: 220px;
  display: block;
  margin: 0 auto; }

.cv-btn:hover {
  box-shadow: 0 0px 40px rgba(45, 181, 134, 0.4);
  background-image: linear-gradient(100deg, rgba(2, 176, 155, 0.38), rgba(2, 176, 155, 0.2));
  background-color: rgba(5, 176, 155, 0.6); }

.cv-btn:active {
  height: 55px;
  min-width: 210px; }

.smaller {
  font-size: 21px; }

.text-container {
  display: inline-block; }

.cv-btn-mt {
  margin-top: 100px; }

.default-text {
  background-image: linear-gradient(-225deg, #2cf8ff 0%, #18ffb0 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 28px; }

.language-selection {
  display: inline-block;
  margin-left: 2rem;
  font-size: 26px; }

.mission {
  color: #bdbdbd;
  margin-top: 20px; }

.row {
  justify-content: center;
  align-items: center; }

.bio-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #18ffb0;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -10%; }

.navbar {
  min-width: 300px;
  position: sticky;
  top: 30px; }

.dropdown-item {
  background-color: transparent !important;
  color: white;
  max-width: 40px !important; }

.dropdown-menu {
  max-width: 40px   !important;
  --bs-dropdown-min-width: 1rem !important;
  --bs-dropdown-bg: transparent; }

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.language-dropdown-button {
  background-color: transparent;
  color: white;
  border: none; }

.nav-component {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5rem;
  align-items: center;
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  z-index: 10000; }

a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: 400; }

a:hover {
  color: #18ffb0 !important;
  font-weight: 300; }

.home {
  color: #18ffb0; }

nav a {
  text-shadow: 0 0 5px #051819; }

.nav-divider {
  width: 1px;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1); }

.background {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(#18ffb0), transparent); }

.home-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: auto;
  left: -13%;
  right: auto;
  top: 0%; }

.home-gradient.right {
  opacity: .5;
  filter: blur(150px);
  margin-top: 10rem;
  top: 10%;
  bottom: auto;
  left: auto;
  right: 0%; }

.contact-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: auto;
  left: -13%;
  right: auto;
  z-index: -1; }

.contact-gradient-right {
  width: 20rem;
  height: 20rem;
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 30%;
  position: absolute;
  right: 0;
  z-index: -1; }

.bio-title {
  background: linear-gradient(to right, #18ffb0, #2cf8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem; }

.description {
  font-size: 1.5rem;
  font-weight: 500; }

.bio-container {
  max-width: 500px; }

.pic-container {
  display: flex;
  justify-content: center;
  max-width: 500px; }

.margin-left {
  margin-left: 10px; }

.home-picture {
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
  max-height: 500px;
  border-radius: 30%;
  box-shadow: 0 0 30px #18ffb0;
  /*height: ; da fixare per responsive*/
  margin-top: 20px;
  object-fit: cover;
  margin: 35px 35px; }

.marginb {
  margin-bottom: 40px; }

.green-filter {
  filter: grayscale(100%); }

.gradient-right {
  width: 20rem;
  height: 12rem;
  background-color: #18ffb0;
  filter: blur(200px);
  border-radius: 50%;
  position: absolute;
  right: 0;
  z-index: -1; }

#portfolio h2 {
  font-size: 4rem; }

.project {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  font-size: 20px; }

.contenitore {
  position: relative;
  display: block; }

.code {
  overflow-y: auto;
  margin-top: 72px;
  margin-bottom: 500px;
  overflow-x: auto;
  height: 600px;
  box-shadow: 0 0 10px #2cf8ff;
  border-radius: 10px; }

.code,
.carousel {
  flex: 1;
  background-color: transparent;
  width: 85%;
  margin: 40px auto; }

.carousel-inner {
  box-shadow: 0 0 100px #18ffb0;
  border-radius: 100px; }

.card-img-top {
  box-shadow: 0 0 5px #2cf8ff; }

#row {
  max-width: auto !important;
  width: 100% !important; }

.card {
  margin-top: 30px; }

.chi-sono-container {
  margin-bottom: 20px; }

.chi-sono-container,
.contact-signature,
.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center; }
  .chi-sono-container img,
  .contact-signature img,
  .image-container img {
    width: 100%;
    height: auto;
    max-width: 300px; }

.language-solidity {
  background-color: transparent !important; }

.language-solidity,
.token.selected {
  text-shadow: none !important; }

/* Sovrascrivi il colore del testo delle variabili */
.language-solidity,
.token.variable {
  color: #8dc7ff !important;
  /* Cambia il colore delle variabili */ }

/* Sovrascrivi il colore dei segni di punteggiatura */
.language-solidity.token.punctuation,
.token.operator {
  color: #ccc !important;
  /* Cambia il colore dei segni di punteggiatura */ }

.token.operator {
  background: none !important; }

.ethereum-container {
  max-width: 65%; }

#chi-sono,
#about-me {
  margin: 0 auto;
  width: 70%; }

.social-container {
  width: 55%;
  margin: 100px auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer-btn {
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-weight: 500;
  transition: all .2s;
  display: flex;
  position: relative;
  transition: box-shadow .5s;
  border-radius: 50px; }

.footer-btn:hover {
  box-shadow: 0 0 20px rgba(24, 255, 176, 0.4), 0 0 30px #2cf8ff; }
  .footer-btn:hover .social {
    background: rgba(44, 248, 255, 0.5); }

.social {
  width: 45px;
  height: 45px;
  background: #18ffb0;
  border-radius: 50%;
  transition: background 0.5s; }

.contattami {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
  min-width: 280px;
  margin: 100px auto;
  box-shadow: 0 0 0.5rem #2cf8ff;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 10px; }

.contact-signature {
  display: flex;
  justify-content: center;
  margin: 5px auto 20px auto; }

.message {
  height: 100%; }

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.submit-btn {
  width: 40%;
  height: 45px;
  border-radius: 50px;
  transition: box-shadow .3s;
  transition: all .15s;
  background: linear-gradient(to right, #2cf8ff, #18ffb0);
  font-size: 22px;
  border: none; }
  .submit-btn:hover {
    box-shadow: 0 0 30px rgba(44, 248, 255, 0.5); }
  .submit-btn:active {
    opacity: 0.7;
    width: 38%;
    height: 42px; }

.form-control:focus {
  border-color: #18ffb0;
  box-shadow: 0 0 0.25rem #18ffb0; }

form input,
form textarea,
form ::placeholder {
  background-color: transparent !important;
  color: #bdbdbd !important; }
form label {
  color: #2cf8ff;
  margin: 10px 0 5px 5px; }

.mobile-icon {
  width: 50px; }

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  box-shadow: 0 0 2px #18ffb0;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2cf8ff, #18ffb0);
  border-radius: 10px; }

/*navbar sticky solo con schermi >600px*/
@media (max-width: 600px) {
  .sticky-top-nav {
    position: sticky;
    top: 60px; } }
/*header sticky-top solo da 0-600*/
@media only screen and (max-width: 600px) {
  .sticky-top {
    position: sticky;
    top: 0; } }
/*header disappeared sopra i 600px*/
@media only screen and (min-width: 600px) {
  .sticky-top {
    position: relative; } }
@media (min-width: 1400px) {
  .page-wrapper {
    max-width: 1400px;
    margin: 0 auto; } }
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(400px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.r-l {
  animation: slideLeft .8s ease-out forwards;
  animation-delay: 0.5s; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-400px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.l-r {
  animation: slideRight .8s ease-out forwards;
  animation-delay: 0.5s; }

@keyframes textclip {
  to {
    background-position: -200% center; } }
@media (max-width: 550px) {
  .row {
    display: flex;
    flex-direction: column; }

  #chi-sono {
    margin: 0 auto;
    width: 90%;
    text-align: justify; }

  .project {
    width: 80%; }

  .ethereum-container {
    max-width: 85%; }

  .contattami {
    max-width: 85%; }

  .carousel,
  .code {
    width: 100%; }

  .carousel-inner {
    border-radius: 40px; }

  .contact-gradient {
    width: 10rem; }

  .bio-gradient {
    width: 15rem; }

  .home-gradient {
    width: 16rem; }

  .cv-btn {
    margin: 40px 0 !important; } }
@media (min-width: 551px) {
  .small-screen-only {
    display: none; } }
@media (max-width: 750px) {
  .default-text {
    display: none; } }
@media (min-width: 1000px) {
  .bio-container {
    width: 500px;
    padding: 0 1.25rem; } }

/*# sourceMappingURL=style.css.map */
