@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/*/////////////////////////Navbar overlay///////////////////////////////*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; }

/*annoying darkgreen shadow*/
.wrapper {
  position: fixed;
  top: -6px;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-135deg, #051819, #18ffb0);
  clip-path: circle(10px at calc(100% - 45px) 51px);
  transition: all 0.3s ease-in-out; }

#active:checked ~ .wrapper {
  clip-path: circle(75%); }

/*Actual button*/
.menu-btn {
  position: fixed;
  z-index: 2000;
  right: 20px;
  /* left: 20px; */
  top: 12px;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(-135deg, #18ffb0, #051819);
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  transition: all 0.3s ease-in-out; }

#active:checked ~ .menu-btn {
  background: transparent;
  color: #18ffb0; }

#active:checked ~ .menu-btn i:before {
  content: "\f00d"; }

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.wrapper ul li {
  margin: 15px 0; }

.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  padding: 5px 30px;
  color: #fff;
  line-height: 50px;
  transition: all 0.3s ease; }

.wrapper ul li a:hover {
  color: #2cf8ff; }

input[type="checkbox"] {
  display: none; }

/*/////////////////////////Navbar overlay end///////////////////////////////*/
body {
  color: #fff;
  font-family: "Roboto";
  font-weight: 400;
  background-color: #07141b;
  overflow-x: hidden; }

.container-f {
  justify-content: space-between; }

.alessio {
  max-width: 100%;
  max-height: 60px;
  margin-left: 50px; }

.text-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; }

.hover-text {
  display: none;
  font-size: 30px;
  background: linear-gradient(to right, #2cf8ff, #18ffb0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.text-container:hover .default-text {
  display: none; }

.text-container:hover .hover-text {
  display: inline-block; }

.mission {
  color: #bdbdbd;
  margin-top: 20px; }

.row {
  justify-content: center;
  align-items: center; }

.bio-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #18ffb0;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: relative;
  bottom: auto;
  left: -10%;
  right: auto; }

.navbar {
  min-width: 400px; }

.dropdown-item {
  background-color: transparent !important;
  color: white;
  max-width: 40px !important; }

.dropdown-menu {
  max-width: 40px   !important;
  --bs-dropdown-min-width: 1rem !important;
  --bs-dropdown-bg: transparent; }

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.language-dropdown-button {
  background-color: transparent;
  color: white;
  border: none; }

.nav-component {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: transparent !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5rem;
  align-items: center;
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  top: 30px;
  z-index: 10000; }

a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: 400; }

a:hover {
  color: #18ffb0 !important;
  font-weight: 300; }

.home {
  color: #18ffb0; }

.nav-divider {
  width: 1px;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.1); }

.background {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, var(#18ffb0), transparent); }

.home-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: auto;
  left: -13%;
  right: auto;
  top: 0%; }

.home-gradient.right {
  opacity: .5;
  filter: blur(150px);
  margin-top: 10rem;
  top: 10%;
  bottom: auto;
  left: auto;
  right: 0%; }

.contact-gradient {
  width: 20rem;
  height: 20rem;
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: auto;
  left: -13%;
  right: auto;
  z-index: -1; }

.contact-gradient-right {
  width: 20rem;
  /* Set the width of the div */
  height: 20rem;
  /* Set the height of the div to cover the entire viewport */
  background-color: #2cf8ff;
  filter: blur(200px);
  border-radius: 30%;
  position: absolute;
  right: 0;
  z-index: -1; }

.bio-title {
  background: linear-gradient(to right, #18ffb0, #2cf8ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.description {
  font-size: 2rem;
  font-weight: 500; }

@media (max-width: 1000px) {
  .bio-container {
    max-width: 500px;
    padding: 0 1.25rem; } }
.bio-container {
  width: 500px; }

.pic-container {
  display: flex;
  justify-content: center; }

.home-picture {
  min-width: 200px;
  min-height: 200px;
  max-width: 500px;
  max-height: 500px;
  border-radius: 30%;
  box-shadow: 0 0 30px #18ffb0;
  /*height: ; da fixare per responsive*/
  margin-top: 20px;
  object-fit: cover;
  margin: 20px 20px; }

.green-filter {
  filter: grayscale(100%); }

.gradient-right {
  width: 20rem;
  height: 12rem;
  background-color: #18ffb0;
  filter: blur(200px);
  border-radius: 50%;
  position: relative;
  right: -80%;
  z-index: -1; }

#portfolio h2 {
  font-size: 4rem; }

.project {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  font-size: 20px; }

.contenitore {
  position: relative;
  display: block; }

.code {
  overflow-y: auto;
  margin-top: 72px;
  margin-bottom: 500px;
  overflow-x: auto;
  height: 600px;
  box-shadow: 0 0 10px #2cf8ff;
  border-radius: 10px; }

.code,
.carousel {
  flex: 1;
  background-color: transparent;
  width: 85%;
  margin: 40px auto; }

.carousel-inner {
  box-shadow: 0 0 100px #18ffb0;
  border-radius: 100px !important; }

.card-img-top {
  box-shadow: 0 0 5px #2cf8ff; }

#row {
  max-width: auto !important;
  width: 100% !important; }

.card {
  color: #2cf8ff !important;
  border: none;
  background-color: transparent; }
  .card h5 {
    text-align: center; }

.language-solidity {
  background-color: transparent !important; }

.language-solidity,
.token.selected {
  text-shadow: none !important; }

/* Sovrascrivi il colore del testo delle variabili */
.language-solidity,
.token.variable {
  color: #8dc7ff !important;
  /* Cambia il colore delle variabili */ }

/* Sovrascrivi il colore dei segni di punteggiatura */
.language-solidity.token.punctuation,
.token.operator {
  color: #ccc !important;
  /* Cambia il colore dei segni di punteggiatura */ }

.token.operator {
  background: none !important; }

.ethereum-container {
  max-width: 65%; }

#chi-sono {
  margin: 0 auto;
  width: 70%; }

.social-container {
  width: 65%;
  margin: 100px auto;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer-divider {
  width: 1px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); }

.footer-btn {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-weight: 500;
  transition: all .2s;
  display: flex;
  position: relative;
  transition: box-shadow .5s;
  border-radius: 50px; }

.footer-btn:hover {
  box-shadow: 0 0 20px #18ffb0; }

.social {
  width: 40px;
  height: 40px;
  background: #18ffb0;
  border-radius: 50%; }

.contattami {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;
  margin: 300px auto;
  box-shadow: 0 0 0.5rem #2cf8ff;
  padding: 15px;
  padding-bottom: 25px;
  border-radius: 10px; }

.contact-signature {
  display: flex;
  justify-content: center;
  margin: 5px auto 20px auto; }

.message {
  height: 100%; }

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.submit-btn {
  width: 40%;
  height: 45px;
  border-radius: 50px;
  transition: box-shadow .3s;
  transition: opacity .15s;
  background-color: rgba(44, 248, 255, 0.9); }
  .submit-btn:hover {
    box-shadow: 0 0 10px #2cf8ff; }
  .submit-btn:active {
    opacity: 0.7; }

.form-control:focus {
  border-color: #18ffb0;
  box-shadow: 0 0 0.25rem #18ffb0; }

form input,
form textarea,
form ::placeholder {
  background-color: transparent !important;
  color: #f1f3f4 !important; }
form label {
  color: #2cf8ff;
  margin: 10px 0 5px 5px; }

.signature {
  display: block;
  margin: 20px auto; }

/*navbar solo con schermi >600px*/
@media (max-width: 600px) {
  .sticky-top-nav {
    display: none; } }
/*navbar sticky solo con schermi >600px*/
@media (min-width: 600px) {
  .sticky-top-nav {
    position: sticky;
    top: 20; } }
/*header sticky-top solo da 0-600*/
@media only screen and (max-width: 600px) {
  .sticky-top {
    position: sticky;
    top: 0; } }
/*header disappeared sopra i 600px*/
@media only screen and (min-width: 600px) {
  .sticky-top {
    position: relative; } }
/*Hamb. menu solo con schermi piccoli 0-600*/
@media (min-width: 600px) {
  .toggle {
    display: none; } }

/*# sourceMappingURL=style.css.map */
